/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  background: radial-gradient(circle, #1a2a3a 0%, #0d141d 100%);
  background-attachment: fixed;
  color: #e0e6ed;
}
h1, h2, h3, .modern-heading {
  font-family: 'Montserrat', sans-serif;
  color: #00adb5;
  letter-spacing: 0.5px;
}
